body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: white;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 30px;

}
.form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}
h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

input, select {
    width: 75%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

button {
    align-self: center;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.result {
    border: 1px solid gray;
    width: 95%;
    height: 50px; 
    margin: 0 auto; 
    text-align: center; 
    line-height: 50px; 
}

/* 蠟燭圖 */
#container_candlestick {
    height: 400px;
    min-width: 310px;
}




/* 表格 */
.accordion-button {
    background-color: #f8f9fa; /* 收起時為灰色 */
    color: #000;
    border: 1px solid #d6d8db;
}
.accordion-button:focus {
    box-shadow: none;
}
.accordion-button.collapsed {
    background-color: #f8f9fa; /* 收起時灰色 */
}
.accordion-button:not(.collapsed) {
    background-color: #cfe2ff; /* 展開時為淺藍色 */
}
/* 統一箭頭方向向上 */
.accordion-button::after {
    content: '\2303'; /* 使用向上的箭頭符號 (▲) */
    transform: rotate(0deg); /* 不旋轉 */
}
.table {
    text-align: center;
    margin-top: 20px;
}
